* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#main-charts-container {
  display: flex;
  gap: 50px;
}

#chart-container {
  width: 50%;
}
